<div class="container">
  <div class="row">
    <div class="offset-sm-3 col-sm-6">
      <h1 class="text-center">Calculator</h1>
      <form onsubmit="return false" action="" id="calculator">
        <div class="form-group">
          <label for="number1">Number 1</label>
          <input v-model="num1" class="form-control" type="text" placeholder="Operand 1">
        </div>
        <div class="form-group">
          <label for="number1">Number 2</label>
          <input v-model="num2" class="form-control" type="text" placeholder="Operand 2">
        </div>
        <div class="form-group">
          <label for="number1">Result</label>
          <input v-model="result" class="form-control" type="text" readonly>
        </div>
        <div class="form-group">
          <button @click="add()" class="btn btn-primary">Add</button>
          <button @click="sub()" class="btn btn-primary">Sub</button>
          <button @click="mul()" class="btn btn-primary">Mul</button>
          <button @click="div()" class="btn btn-primary">Div</button>
        </div>
      </form>
    </div>
  </div>
</div>