<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="app.bundle.css">
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">Septaz</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
      </li>
    </ul>
  </nav>
  {{{body}}}
  <script src="app.bundle.js"></script>
  <script src="/reload/reload.js"></script>
</body>

</html>